@charset "utf-8";

.floatleft{float:left;}
.floatright{float:right;}
.clear{clear:both;}

body {

	background-color: #fff;

	background-image: url(images/RObgstripes.png);

	background-repeat: repeat;

	margin: 0;

	/*font-family: Verdana, Arial, sans-serif;*/
	font-family: 'Shanti', sans-serif;

	font-size: 80%;

	color: #3f3f3f;

	line-height: 1.3em;

}

#boldfont {

	font-family: Verdana, Arial, sans-serif;

	font-weight: bold;

}




.contentwrapper{width:789px;margin:0 auto;}
.content, .RObox {
	width:789px;
	margin:10px auto;
	-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; 
	padding: 25px;
	background-color: #fff;
	box-shadow: 0px 2px 5px #CCC;
	-moz-box-shadow: 0px 2px 5px #CCC;
	-webkit-box-shadow: 0px 2px 5px #CCC;
}

.RObox{
	width:350px;
	margin:10px 0;
	}
	.RObox p{margin:0;}

h1{color:#5a195b;font-size:24px;font-family: 'Shanti', sans-serif;}
p{font-size:16px;}

a.button{
	background-color: #5A195B;
border: 3px solid white;
border-radius: 10px;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
box-shadow: 0px 1px 3px #111;
-moz-box-shadow: 0px 1px 3px #111;
-webkit-box-shadow: 0px 1px 3px #111;
color: white;
padding: 10px;
text-align: center;
text-decoration: none;
display: block;
width: 200px;
font-size: 20px;
line-height: 1.5;
margin-top:35px;
margin-right:40px;
}

.banner {

	background-image: url(images/banner.png);

	background-repeat: no-repeat;

	background-position: left top;

	height: 99px;

	width: 470px;

	position: absolute;

	z-index: 100;

	top: 105px;

	left: 25px;

}

#smallfont {

	font-family: Verdana, Arial, sans-serif;

	font-size: 80%;

}



.footer {

	/*background-image: url(images/bottombar.png);

	background-repeat: no-repeat;

	background-position: left top;*/

	/*height: 30px;*/

	/*width: 447px;*/
	width:789px;

	/*margin-top: 0px;

	margin-right: 24px;

	margin-bottom: 40px;

	margin-left: 24px;*/
	margin:0 auto;
	background-color:#fff;
	border-top:5px solid #5a195b;
	

	font-family: 'Shanti', sans-serif;

	font-weight: bold;

	color: #FFF;

	padding: 15px 25px 15px 25px;
	-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; 

	/*padding: 25px;*/

	background-color: #fff;
	box-shadow: 0px 2px 5px #CCC;
	-moz-box-shadow: 0px 2px 5px #CCC;
	-webkit-box-shadow: 0px 2px 5px #CCC;

}



.footer a, .footer a:visited{
	color: #5a195b;
	text-decoration: none;
	font-family: 'Shanti', sans-serif;
}
.footer a:hover, .footer a:active{color:#ccc;}


.garanti {

	float: right;

	height: 150px;

	width: 156px;

	background-image: url(images/ROgaranti.png);

	background-repeat: no-repeat;

	background-position: right top;
	margin-right:20px;

}



.addthis {



	height: 20px;

	width: 200px;



}

#checks {

	font-family: Verdana, Arial, sans-serif;

	line-height: 2.0em;

	font-weight: bold;

}

.gillaoss {
	background-color:#5a195b;
	border:3px solid white;
	box-shadow: 0px 1px 3px #111;
	-moz-box-shadow: 0px 1px 3px #111;
	-webkit-box-shadow: 0px 1px 3px #111;
	-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; 	
	height: 63px;
	width:640px;
	padding: 0px 25px 0px 0px;;
	color: #fff;
	text-align: right;

	font-weight: bold;

	font-family: 'Shanti', sans-serif;

	font-size: 150%;
	margin:0 auto;
	border-radius: 10px;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
}
.gillaoss span.punch{font-weight:bold;color:#e92fd5;font-size:130%;}

.gillaoss p{margin-top:-1px;font-size:100%;}
.wrapper{margin:10px auto; width:789px;}

.gillaoss2 {

	background-image: url(images/topbar.png);

	background-repeat: no-repeat;

	background-position: left top;

	height: 48px;

	width: 495px;

	padding: 15px 25px 0px 25px;;

	color: #fff;

	text-align: left;

	font-weight: bold;

	font-family: Arial, Helvetica, sans-serif;

	font-size: 110%;

}



#fb-root {

	height: 0;	

}

